body {
  background: black url(../src/assets/background.png) no-repeat center;
  height: 100vh;
  color: white;
}

.container {
  width: 100vw;
  margin: 0 auto;
  font-family: sans-serif;
}

.topoparte1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.topo {
  margin-top: 25px;
}

.menu {
  margin-top: 30px;
}

.menu ul li {
  display: inline;
  margin-right: 15px;
}

.menu ul {
  margin-right: 40px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.botao-topo {
  margin-top: 25px;
}

.botao-meta {
  background: white;
  color: black;
  border: none;
  width: 140px;
  height: 27px;
  font-weight: bold;
}

.topoparte2 {
  color: white;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 100px auto;
}

.texto-nft {
  width: 280px;
}

.texto-nft img {
  margin-top: 40px;
  margin-bottom: 10px;
}

.titulo-nft {
  width: 500px;
  font-size: 23px;
}

.imagem-logo {
  margin-top: 20px;
}

.orange {
  color: #ff5b50;
}

.galeria1 {
  text-align: center;
  margin-top: 100px;
}

.fila1 {
  margin-bottom: 15px;
}

.margem {
  margin: 0 15px;
}

.borda {
  border: 1px solid white;
}

.mid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 200px;
}

.lateral-esq {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: right;
  padding-right: 50px;
  width: 30%;
}

.textos {
  width: 70%;
}

.mid-texto1 {
  width: 30%;
  float: left;
  margin-bottom: 30px;
  margin-left: 50px;
  color: rgb(190, 186, 186);
}

.mid-texto1 a {
  color: #ff5b50;
}

.mid-texto2 {
  width: 30%;
  float: left;
  margin-left: 70px;
  color: rgb(190, 186, 186);
}

.mid-texto2 a {
  color: #ff5b50;
}

.populares {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.astronauta-1 {
  margin-bottom: 40px;
}


.autor {
  float: left;
  color: rgb(165, 163, 163);
  margin-bottom: 20px;
}

.valor {
  float: right;
  color: #ff5b50;
}

.seta {
  float: right;
}

.astronauta-2 {
  margin-top: 220px;
  margin-bottom: 40px;
}

.titulo-populares {
  margin-bottom: 180px;
}

.titulo-artistas {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 100px;
}

.fileira-art-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

.artista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(33, 33, 33);
  width: 250px;
  height: 100px;
  font-size: 12px;
}

.artista-red {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: rgb(255, 79, 79);
  width: 250px;
  height: 100px;
  font-size: 12px;
}

.fileira-art-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  margin-top: 90px;
}

.veja-todos {
  text-align: center;
  margin-top: 50px;
}

.veja-todos a {
  color: white;
  text-decoration: none;
}

.veja-todos img {
  margin-left: 25px;
}

.rodape {
  background: rgb(31, 30, 30);
  height: 520px;
}

.rodape-top {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 100px;
  padding-top: 100px;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.rodape-top button {
  background: #ff5b50;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.rodape-mid {
  width: 1000px;
  margin: 60px auto;
  display: flex;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
}

.newsletter {
  width: 345px;
  font-size: 0.7em;
}

.newsletter input {
  margin-top: 30px;
  background: black;
  height: 40px;
  text-align: center;
  border: none;
}

.newsletter button {
  height: 40px;
  width: 60px;
  font-weight: bold;
  cursor: pointer;
}

.menu-bottom {
  display: flex;
  margin: 0 auto;
}

.menu-bottom ul {
  list-style: none;
}

.menu-bottom ul li{
  margin-top: 12px;
}

.white {
  color: white;
}

.menu-bottom ul li a{
  text-decoration: none;
  color: rgb(62, 61, 61);
}


.coluna2 {
  margin: 0 80px;
}

.rodape-bottom {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  color: rgb(62, 61, 61);
}

.social {
  background-color: rgb(31, 30, 30);
  border: none;
  margin: 0 15px;
}